<div id="sidebar-tutorial" class="sheet" ng-if="vm.showSidebarTutorial()">
  <i class="close h-icon-close" role="button" title="Close"
     ng-click="vm.dismiss()"></i>
  <h1 class="sidebar-tutorial__header">開始評論吧！</h1>
  <ol class="sidebar-tutorial__list">
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        新增段落註記：反白文字，並按下
        <i class="h-icon-annotate"></i>&nbsp;註記。
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        新增全頁註記：按
        <i class="h-icon-note"></i>&nbsp;，或是切換至 <strong>Page Notes</strong> 。
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        畫重點：反白文字，按下
        <i class="h-icon-highlight"></i>&nbsp;劃重點。
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        回應註記：按下
        <i class="h-icon-annotation-reply"></i>&nbsp;<strong>Reply</strong>&nbsp;回應。
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        分享註記文件：按頂端的
        <i class="h-icon-annotation-share"></i>&nbsp;分享按鈕。
      </p>
    </li>
    <li class="sidebar-tutorial__list-item">
      <p class="sidebar-tutorial__list-item-content">
        群組權限：所有註記預設為公開，可按頂端 <strong>Public</strong> 切換群組，或是按
        <strong>+&nbsp;New&nbsp;group</strong>&nbsp;創立新議題群組。也可選擇 <strong>Post to only me</strong> ，切換權限至個人。
      </p>
    </li>
  </ol>
</div>
